* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  min-height: 100vh;
}

.form-div {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

ul div {
  width: 90%;
}

li {
  width: 100%;
  background-color: white;
  margin: 2px 0px;
  display: inline-flex;
  min-height: 50px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px grey;
  border: 1px solid #871b00;
}

li .dragger {
  width: 5%;
  background-color: #871b00;
  color: #871b00;
}

li p {
  width: 70%;
  padding: 0px 5px;
}

li button {
  width: 15%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: white;
  height: 50px;
}

#complete-btn {
  background-color: white;
  color: green;
  cursor: pointer;
}

#delete-btn {
  /*background-color: red;*/
  border-left: 2px solid white;
  color: red;
  cursor: pointer;
}

form  input, form  button {
  background: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;  
  outline: none;
}

form button {
  background-color: white;
  color: #fda085;
  cursor: pointer;
  transition: all 0.3s ease;
}

#todo-submit-button:hover {
  background-color: #fda085;
  color: white;
}

.completed-task {
  opacity: 0.3;
  text-decoration: line-through;
}

.heading {
  text-align: center;
  margin-top: 5px;
}

@media(max-width: 480px) {
  .form-div {
    flex-direction: column;
  }
  form input {
    width: 80%;
  }
  form {
    width: 80%;
  }
}

select {
  margin-top: 5px;
  padding: 2px;
  outline: none;
  border: none;
}